nav {
  display: flex;
  flex-direction: column;
  background-color: rgb(228, 228, 228);
  box-shadow: rgba(50, 50, 93, 0.15) 4px 0px 6px -2px,
    rgba(0, 0, 0, 0.2) 2px 0px 4px -2px;
  padding: 1em;
  width: 100%;
  max-width: 300px;
}

.my-name {
  text-align: center;
  color: #02ad28;
}

.hire-me > h2 {
  margin-top: 1em;
  text-align: center;
  color: #02ad28;
}
.link {
  display: flex;
}
.nav-icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 12px;
}

.nav-link {
  list-style: none;
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 0.5em;

  text-align: left;
  list-style: none;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}
.nav-link:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  transform: scale(1.05); /* Slight increase */
}

.nav-link.active {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  transform: scale(1.05); /* Slight increase */
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
}
.nav-link:hover {
  background: #f0f0f0;
  border-radius: 5px;
}

/* Desktop Layout */
.desktop-navbar {
  display: flex;
  flex-direction: column;
  background-color: #e4e4e4;
  padding: 1rem;
  min-height: 100vh;
  max-width: 300px;
}

.menu-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}

.menu-label {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 1rem;
}
.menu-label:hover{
  cursor: pointer;
}
.burger-menu {
  animation: slideDown 0.3s ease-out;
  position: absolute;
  top: 80px; /* adjust based on your layout */
  right: 0;
  background-color: rgb(228, 228, 228);
  z-index: 2;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
  }
@media (max-width: 768px) {
  
}
