body {
    
}
nav {
  display: flex;
  flex-direction: column;
  background-color: rgb(228, 228, 228);
  box-shadow: rgba(50, 50, 93, 0.15) 4px 0px 6px -2px,
    rgba(0, 0, 0, 0.2) 2px 0px 4px -2px;
  max-width: 300px;
}
.my-name {
  text-align: center;
  color: #02AD28;
}
.nav-links > li {
  padding: 1em;
  text-align: left;
  list-style: none;
  display: flex;
  align-items: center;
}
.hire-me > h2 {
  text-align: center;
  color: #02AD28;
}
.link {
  display: flex;
}
.nav-img {
  width: 1.5em;
  height: 1.5em;
  margin-right: 12px;
}
